/*****************************************************************************/
@font-face {
    font-family:'calligraffittiregular';src:url("../fonts/calligraffitti-regular-webfont.eot");src:url("../fonts/calligraffitti-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/calligraffitti-regular-webfont.woff2") format("woff2"),url("../fonts/calligraffitti-regular-webfont.woff") format("woff"),url("../fonts/calligraffitti-regular-webfont.ttf") format("truetype"),url("../fonts/calligraffitti-regular-webfont.svg#calligraffittiregular") format("svg");font-weight:normal;font-style:normal
}

@font-face {
    font-family: 'PT Mono';src: url('../fonts/PT Mono.ttf');
}

body {
    margin: 0;
    background: #fff;
    line-height:2;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    color: #555;
}

a {
    text-decoration: none;
    color: #555;
}

pre {
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 2;
}

code {
    font-family: 'PT Mono';src: url('../fonts/PT Mono.ttf');
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2px;
}

strong {
    margin-left: 3px;
    margin-right: 3px;
}

em {
    margin-left: 3px;
    margin-right: 3px;
}

.text-center {
    text-align: center;
}

/* headband ******************************************************************/
.headband {
    height: 3px;
    background-color: #222;
    margin: 0;
}

/* footer ********************************************************************/
.content-footer {
    position: relative;
    font-size: 10px;
    color: #999;
    width: 100%;
    height: 48px;
    margin-bottom: 0;
}

/* content-home **************************************************************/

.content-home {
    position: absolute;
    width: 100%;
    background: #FFF;
    height: 300px;
    top: 50%;
    bottom: 50%;
}

.content-home .avatar img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 16px;
}

.content-home .name {
    font-family: 'calligraffittiregular';
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -.03em;
    margin: 0 auto 10px
}

.content-home .name:hover {
    color: #1ABC9C;
}

.content-home .slogan {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 26px;
    color: #666
}

.content-home hr {
    border: none;
    margin-top: -1px;
    height: 1px;
    background-color: #bbb;
    max-width: 400px;
    background-image: -webkit-linear-gradient(0deg, #fff, #bbb, #fff)
}

.content-home .nav {
    color: #bbb;
    padding: 0;
}

.content-home .nav .item {
    display: inline-block
}

.content-home .nav .item a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #000;
    text-decoration: none
}

.content-home .nav .item a:hover {
    color: #1ABC9C;
    text-decoration: none
}

.content-home .nav .item:last-child span {
    display: none
}

@media (max-width: 640px) {
    .content-home .title {
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: -.05em
    }
}

/* content-archive ***********************************************************/

.content-archive {
    margin: 40px auto;
    width: 100%;
    /*min-height: ;*/
}

.content-archive .archive-header {
    margin-bottom: 30px
}

.content-archive .archive-header a.home-entry {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    color: #555;
    margin-bottom: 20px;
    background: #f0f0f0;
    margin-left: -20px
}

.content-archive .archive-header .avatar {
    display: block
}

.content-archive .archive-header .avatar img,.content-archive .archive-header .avatar .blog-info {
    line-height: 1.8em;
    display: inline-block;
    vertical-align: middle
}

.content-archive .archive-header .avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle
}

.content-archive .archive-header .avatar .name {
    font-family: 'calligraffittiregular';
    font-weight: bold;
    color: #000;
    font-size: 24px;
    margin: 0;
    width: 100px
}

.content-archive .archive-header .avatar .slogan {
    color: #999;
    display: inline-block
}

.content-archive .box-year {
    line-height: 3em
}

.content-archive .article-datetime {
    display: inline-block
}

.content-archive .article-datetime a {
    font-size: 12px;
    color: #888
}

.content-archive .article-title {
    display: inline-block
}

.box-year-title {
    margin-top: 40px
}

.box-year-title a.text-year {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    font-family: 'calligraffittiregular';
    font-weight: bold
}

.article-title .article-link {
    position: relative;
    font-size: 16px;
    font-weight: normal;
    color: #333
}

.article-title .article-link:hover {
    color: #000
}

.box-year-title,.item-article {
    padding-left: 20px;
    position: relative
}

.box-year-title:before,.item-article:before {
    content: " ";
    position: absolute;
    top: 50%;
    background: #ddd;
    border-radius: 50%
}

.box-year-title:before {
    background: #bbb;
    left: -2px;
    margin-left: -5px;
    margin-top: -9px;
    width: 10px;
    height: 10px
}

.archive-body .box-year:nth-child(5n+1) .box-year-title:before {
    background: #1ABC9C
}

.archive-body .box-year:nth-child(5n+2) .box-year-title:before {
    background: #3498DB
}

.archive-body .box-year:nth-child(5n+3) .box-year-title:before {
    background: #9B59B6
}

.archive-body .box-year:nth-child(5n+4) .box-year-title:before {
    background: #E67E22
}

.archive-body .box-year:nth-child(5n+5) .box-year-title:before {
    background: #E74C3C
}

.item-article:before {
    left: -2px;
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px
}

@media screen and (min-width: 768px) {
    .content-archive {
        width: 500px;
        border-left: 4px solid #f9f9f9
    }

    .content-archive .archive-header {
        margin-bottom: 30px
    }

    .content-archive .archive-header a.home-entry {
        display: block
    }

    .content-archive .archive-header .avatar {
        display: block;
        margin-left: -30px
    }

    .content-archive .archive-header .avatar img,.content-archive .archive-header .avatar .blog-info {
        line-height: 1.8em;
        display: inline-block;
        vertical-align: middle
    }

    .content-archive .archive-header .avatar img .slogan,.content-archive .archive-header .avatar .blog-info .slogan {
        color: #999;
        display: inline-block
    }
}

@media screen and (max-width: 767px) {
    .content-archive {
        overflow: hidden;
        margin-top: 30px;
        padding: 10px;
        width: 100%
    }

    .content-archive .archive-header {
        margin-bottom: 30px;
        text-align: center
    }

    .content-archive .archive-header a.home-entry {
        display: none
    }

    .content-archive .archive-header .avatar {
        display: block
    }

    .content-archive .archive-header .avatar .blog-info {
        display: block;
        line-height: 1.8em
    }

    .content-archive .archive-header .avatar .blog-info .name {
        text-align: center;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 8px
    }

    .content-archive .archive-header .avatar .blog-info .slogan {
        display: block;
        color: #999
    }

    .content-archive .archive-body {
        border-left: 4px solid #f9f9f9
    }
}

/* content-article ***********************************************************/

.content-article {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    color: #555;
}

article.post {
	display: block;
}

.post-title {
	font-size: 26px;
    text-align: center;
    word-break: break-word;
    font-weight: 300;
    margin-bottom: 0;
}
.post-title-link {
	width: 600px;
	display: inline-block;
    position: relative;
    color: #555;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}
.post-more-link {
  margin-top: 50px;
  text-align: center;
}
.post-more-link .btn {
  color: #555;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  line-height: 2;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  background: #222;
  border: 2px solid #555;
  text-decoration: none;
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.btn:hover,
.post-more-link .btn:hover {
  border-color: #222;
  color: #fff;
  background: #222;
}
.posts-expand .post-eof {
  display: block;
  margin: 80px auto 60px;
  width: 8%;
  height: 1px;
  background: #ccc;
  text-align: center;
}
.post-meta {
    margin: 3px 0 60px 0;
    color: #999;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    text-align: center;
}
.post-meta-separator {
	margin-left: 5px;
	margin-right: 5px;
}

.post-body {
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    text-align: justify;
}

.post-body pre {
    white-space: pre-wrap; /*css-3*/ 
    white-space: -moz-pre-wrap; /*Mozilla,since1999*/ 
    white-space: -pre-wrap; /*Opera4-6*/ 
    white-space: -o-pre-wrap; /*Opera7*/ 
    word-wrap: break-word; /*InternetExplorer5.5+*/
}

.post-body code {
    
}

.highlight pre{
    font-family:  'PT Mono', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
    font-weight: normal;
    margin:0;
    padding: 20px;
}

/* blockquote ****************************************************************/

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #666;
  border-right: 2px solid #666;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #ccc;
  cursor: pointer;
  padding: 0 3px;
  color: #666;
}

blockquote a:hover{
 color: #444;
}

blockquote em{
  font-style: italic;
}